# Python virtual environment
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env
*.local

# IDE configurations
.vscode/
.idea/

# Operating system files
Thumbs.db
Desktop.ini
.DS_Store

# Log files
*.log
